html,
body {
  height: 100vh;
  margin: 0;
}

.row {
  margin: 0 !important;
}

.principal {
  height: 100vh;
  width: 100vw;
}

.principal #map {
  height: 100vh;
  width: 100vw;
}

.principal #opciones {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
}
