html,
body {
  height: 100vh;
  margin: 0;
}

.row {
  margin: 0 !important;
}

.principal {
  height: 100vh;
  width: 100vw;
}

.principal #map {
  height: 100vh;
  width: 100vw;
}

.principal #opciones {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  min-width: 400px;
}

.principal #titulo {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
  min-width: 400px;
}

.principal .card {
  background-color: rgba(256, 256, 256, 0.9);
}

.principal select {
  background-color: rgba(256, 256, 256, 0.1);
}

.custom-label {
  color: "#FFFFFF";
  -webkit-text-stroke: 1px #000000;
}
